<div class="wrapper">
    <aside id="sidebar">
        <div class="h-100 p-2">
            <ul class="sidebar-nav">  
                <li class="sidebar-item">
                    <a href="/" class="sidebar-link">Home</a></li>
                
                <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard"
                            aria-expanded="false" aria-controls="dashboard">
                            Firewall
                        </a>
                        <ul id="dashboard" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="/firewallip" class="sidebar-link">Edit firewall IP</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Reports</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="/addrule" class="sidebar-link">Rules</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#monitor"
                            aria-expanded="false" aria-controls="dashboard">
                            OT-IDS
                        </a>
                        <ul id="monitor" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Wazuh</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Reports</a>
                            </li>
                        </ul>
                    </li>
                    
                <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#aimlmodel"
                            aria-expanded="false" aria-controls="dashboard">
                            Model
                        </a>
                        <ul id="aimlmodel" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Train Model</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Test Model</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="/feedback" class="sidebar-link">Feedback</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#User"
                            aria-expanded="false" aria-controls="dashboard">
                            
                            Users and Groups
                        </a>
                        <ul id="User" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">User</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Groups</a>
                            </li>
            
                        </ul>
                    </li>
        
                
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link" data-bs-toggle="collapse" data-bs-target="#auth"
                        aria-expanded="false" aria-controls="auth">
                        Auth
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Register</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="/logs" class="sidebar-link">
                        Logs
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/terminal" class="sidebar-link">Terminal</a>
                </li>
            </ul>
        </div>
    </aside>
    <a class="theme-toggle">
        <i class="fa-regular fa-moon"></i>
        <i class="fa-regular fa-sun"></i>
    </a>
    <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom">
                <div class="d-flex 
                justify-content-between 
                flex-row align-items-center" style="width:100%;">
                    <div class="p-2">
                        <button class="btn logo" id="sidebar-toggle" type="button">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="p-2">
                        <i id="ethernet-icon" class="fas fa-ethernet"></i>
                        <i id="wifi-icon" class="fas fa-wifi"></i>
                    </div>
                    <div class="p-2 logout"><a href="/logout">Logout</a></div>
                </div>
        </nav>
        <main class="content px-3 py-2">
            <div class="container-fluid">
                <div class="mb-3">
                    <h4>IDS</h4>
                </div>